/* table {
    width: 100%;
    border-collapse: collapse;
}
.header {
    background-color: #c9a2a2;
}
tbody tr:nth-child(even) {
    background-color: #ddd;
}
tbody tr:nth-child(odd) {
    background-color: #fff;
}
td, th {
    padding: 8px;
    border: 1px solid #ddd;
} */

body{
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(225 225 225);
    display:block;
}

#current-score{
    /* margin-bottom: -100px; */
    text-align: center;
    font-size: larger;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#container{
    text-align: center;
}

#pong-game{
    border: 2px solid #000;
    background-color: rgb(185 185 185);
}

#controls {
    margin: 10px;
}

#scores {
    margin-top: 20px;
    color:#000;
}