/* table {
    width: 100%;
    border-collapse: collapse;
}
.header {
    background-color: #c9a2a2;
}
tbody tr:nth-child(even) {
    background-color: #ddd;
}
tbody tr:nth-child(odd) {
    background-color: #fff;
}
td, th {
    padding: 8px;
    border: 1px solid #ddd;
} */

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: aqua;
}

#container{
    text-align: center;
}

#pong-game{
    border: 2px solid #000;
}

#controls {
    margin: 10px;
}

#scores {
    margin-top: 20px;
}